@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.layout {
  font-family: sans-serif;
  font-size: 90%;
  /* max-width: 80%; */
  margin: auto;
}

a {
  @apply text-rbl;
}

section {
  @apply m-0;
}

h1 {
  @apply my-4 font-extrabold text-5xl;
}

h2 {
  @apply m-0 p-0 tracking-wide leading-tight text-5xl;
}

h3 {
  @apply my-4 text-xl text-cdg text-center font-extrabold;
}

ol, ul {
  @apply m-1 p-2 list-none list-outside;
}

ul li {
  @apply my-2 list-outside;
  padding-left: 1rem;
}


header {
  padding: 10px 0 30px 0;
  display: inline-block;
}

/* dt:before { */
/*   content: '\25A0'; */
/* } */

dd {
  @apply mx-1 px-8;
}

.highlight {
  height: 12px;
  position: relative;
  top: 0;
  left: -10px;
  width: 110%;
  max-width: 90vw;
  line-height: 1.6;
  border-radius: 2px;
}

.white {
  @apply bg-white text-black;
}

.pale-green {
  @apply bg-cgr text-black py-4;
}

.pale-purple {
  @apply bg-lpr text-black py-4;
}

/* Toolkit container */
.intro, .t-one, .t-two {
  @apply w-2/3 mx-auto;
}

.intro {
  @apply my-10;
}

.dia {
  @apply py-4 my-2 mx-auto flex flex-auto;
}

.talk {
  @apply w-full;
  height: 315px;
}

.game {
  @apply py-4 my-2 mx-auto flex flex-auto gap-x-4;
}

.icon-img {
  max-width: 8rem;
  margin: auto;
}

.game-card, .game-setup, .game-play {
  @apply my-2 flex gap-x-4;
  flex: 1 2 33%;
}

.game-label {
  @apply font-bold text-cdg text-lg;
}

.game-play {
  @apply justify-between;
}

.game-play .game-label {
  @apply flex-1 w-16;
}

.stake-holder {
  @apply flex my-2 p-2;
  flex: 2 3 20%;
}

.sh-label {
  @apply mr-8 font-bold text-lg text-rpl self-center;
}

.prac {
  @apply flex gap-x-8;
  flex: 2 1 33%;

}

.prac-tips {
  @apply w-4/5;
}

.chart {
  @apply flex-1 relative;
  width: 400px;
  height: 400px;
}

.chart div {
  width: 50%;
  height: 50%;
  border-color: #000;
}

.low-inf {
  @apply absolute;
  top: 50%;
  left: 0;
}

.high-inf {
  @apply absolute;
  top: 50%;
  right: 0;
}

.high-int {
  @apply absolute;
  top: 0;
  left: 51%;
}

.low-int {
  @apply absolute;
  bottom: 0;
  left: 51%;
}
